.MealMenusContainer {
  padding: 0 24px 24px 24px;
  .MealCategories {
    display: flex;
    white-space: nowrap;
    overflow-x: scroll;

    label {
      border: 1px solid #ccc;
      border-radius: 100px;

      margin-right: 8px;
      margin-bottom: 24px;

      padding: 8px 12px;

      font-size: 14px;
      line-height: 24px;
      letter-spacing: -0.5px;
      background-color: white;
      color: #767676;
    }

    label:hover,
    label:visited,
    label:active {
      font-weight: 600;

      font-size: 14px;
      line-height: 24px;
      letter-spacing: -0.5px;
      background-color: #f5f5f5;
      color: #1d1d1d;
    }
  }
  .MenuCarsdContainer {
  }
}
