.PayWay {
  border-radius: 8px;
  background-color: #f5f6f7;
  margin-bottom: 16px;
  .PayList {
    padding: 24px;

    li {
      display: flex;
      align-items: center;

      padding-bottom: 16px;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: -0.5px;

      color: #09101d;

      svg {
        padding-right: 12px;

        rect:first-child {
          fill: #ccc;
          // fill: #fc5c42;
        }

        circle {
          fill: white;
        }
      }
    }

    .active {
      svg {
        rect:first-child {
          fill: #fc5c42;
        }

        circle {
          fill: white;
        }
      }
    }

    li:last-child {
      padding-bottom: 0;
    }
  }
}
