.DropDownTitle.show {
  padding: 9px 14px;
  border: 2px solid #ccc;
  border-radius: 4px;

  font-weight: 600;
  font-size: 1rem;
  line-height: 26px;
  letter-spacing: -0.5px;

  color: #1d1d1d;
}

.DropDownTitle.hide {
  padding: 9px 14px;
  border: 2px solid #d2d2d2;
  border-radius: 4px;

  font-weight: 600;
  font-size: 1rem;
  line-height: 26px;
  letter-spacing: -0.5px;

  color: #d2d2d2;
}

.DropDownMenu.show {
  display: block;

  .Option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f5f5f5;

    .OptionMenu {
      padding: 11px 16px;

      font-size: 1rem;
      line-height: 26px;

      letter-spacing: -0.5px;

      color: #1d1d1d;
    }

    .OptionDetail {
      font-size: 0.75rem;
      line-height: 16px;

      text-align: right;
      letter-spacing: -0.5px;

      color: #767676;
    }
  }

  .DeliveryInfo {
    p:first-child {
      background-color: #f5f5f5;
      border-radius: 4px;
      padding: 8px 26px;
      font-size: 0.875rem;
      line-height: 24px;
      text-align: center;
      letter-spacing: -0.5px;

      color: #767676;
      margin-bottom: 16px;

      span {
        color: rgba(252, 92, 66, 1);
      }
    }
    p:last-child {
      font-size: 0.75rem;
      line-height: 16px;
      letter-spacing: -0.5px;

      color: #767676;
    }
  }
}

.DropDownMenu.hide {
  display: none;
}
