.LoginPage {
  width: 100%;
  height: 100vh;
  max-width: 1024px;
  margin: 0 auto;

  display: grid;
  grid-template-rows: 6fr 4fr;

  .Logo {
    svg {
      position: fixed;
      top: 31.7%;
      left: 50%;
      transform: translateX(-50%);
      max-width: 400px;
      width: 38.66%;
    }
  }
  .LoginButtonGroup {
    margin: 0 6.4%;
  }
}
