.SubscribePage {
  .SubscribeContainer {
    padding: 24px 24px 0 24px;

    h4 {
      padding-bottom: 8px;
      font-weight: bold;
      font-size: 0.96rem;
      line-height: 20px;

      letter-spacing: -0.41px;

      color: #020202;
    }
  }

  .ButtonContainer {
    width: 100%;
    bottom: 0;
  }
}
