.SubscribeCompletePage {
  .SubscribeCompleteMesseg {
    h2 {
      padding-top: 19px;
      padding-bottom: 20px;
      font-weight: bold;
      font-size: 1.75rem;
      line-height: 40px;

      text-align: center;
      letter-spacing: -1px;

      color: #000000;
    }

    .MesseageTitle {
      font-weight: 600;
      font-size: 1rem;
      line-height: 26px;

      text-align: center;
      letter-spacing: -0.5px;

      color: #000000;
    }
    .MesseageDetail {
      font-weight: 400;

      font-size: 1rem;
      line-height: 26px;

      text-align: center;
      letter-spacing: -0.5px;

      color: #000000;
      margin-bottom: 32px;
    }
  }

  .SubscribeCompleteContainer {
    padding: 24px;

    .OrderInfo {
      h4 {
        padding-bottom: 8px;
        font-weight: bold;
        font-size: 0.93rem;
        line-height: 20px;

        letter-spacing: -0.41px;

        color: #020202;
      }
    }
  }
}
