.LoginButtonContainer {
  max-width: 892.95px;
  margin: 0 auto;
  margin-bottom: 8px;

  border-radius: 8px;
  background-color: black;

  p {
    color: white;
    padding: 17px 0;
    text-align: center;
    font-weight: bold;
  }
}
