.TermsOfService {
  margin: 32px auto 0 auto;
  color: #767676;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 20px;

  a {
    text-decoration: underline;
  }
}
